---
layout: platform
title: 前端资源
---
<div id="app" class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-search"></i>
    </span>
    <input v-model="search" id="txtSearch" type="text" class="form-control" 
    placeholder="search text" aria-label="search text" aria-describedby="basic-addon1">
  </div>
  <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/edit/main/_data/link.yml">编辑</a>
  
  {% for link in site.data.link %}
  <a href="{{link}}" class="link-item" :class="{filtered:checkText('{{link}}')}" target="_blank">
    {{ link }}
  </a>
  {% endfor %}
  
  <br>
  <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/edit/main/_data/tool.yml">编辑</a>
  {% for group in site.data.tool %}
    {% for link in group.children %}
    <a href="{{link.url}}" :class="{filtered:checkTool({url:'{{link.url}}',title:'{{link.title}}'})}" target="_blank" aria-current="true">
      {{ link.title }}
    </a>
    {% endfor %}
  {% endfor %}
  
  
  <br>
  <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/new/main/_posts">新增</a>
  {% for post in site.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}">
    {{ post.title }} {{ post.date | date:"%Y年%-m月%d日" }}
    
    {% for tag in post.tags %}
    {{tag}}
    {% endfor %}
  </a>
  {% endfor %}
  <div style="text-align:right;">© zqzyz.com</div>
</div>


<script>
  const Controller = {
    data() {
      return {
        search: ''
      }
    },
    methods:{
      checkText(item){
        return (this.search && item && item.indexOf(this.search)>-1) || false
      },
      checkTool(item){
        return this.checkText(item.url) || this.checkText(item.title)
      }
    }
  }

  window.addEventListener('load',function(){
    Vue.createApp(Controller).mount('#app')
  })
</script>