---
layout: platform
title: 前端资源
---
<!--div class="row">
    {% for post in site.posts %}

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            <span class="date">{{ post.date | date_to_string }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </p>
          <a href="#" class="btn btn-primary">使用</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div-->


<main class="container">
  <h5>常用地址 
    <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/edit/main/_data/link.yml">编辑</a>
  <h5
  <p>
  <div class="row">
    {% for link in site.data.link %}
    <div class="col-auto">
      <a href="{{link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        {{ link }}
      </a>
    </div>
    {% endfor %}
  </div>
</p>

  <h5>在线工具
    <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/edit/main/_data/tool.yml">编辑</a>
  </h5>
  <p>
  <div class="row">
  {% for group in site.data.tool %}
  <!--h5>{{group.title}}</h5-->
    {% for link in group.children %}
    <div class="col-auto">
      <a href="{{link.url}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        {{ link.title }}
      </a>
    </div>
    {% endfor %}
  {% endfor %}
  </div>

</p>


  <p>
  <h3>
    文章
  </h3>
  <div class="list-group">
    {% for post in site.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date | date:"%Y年%-m月%d日" }}</small>
      </div>
      <!--p class="mb-1">{{ post.excerpt }}</p-->
      
      {% for tag in post.tags %}
      <small style="maring:auto 0.5rem;">{{tag}}</small>
      {% endfor %}
    </a>
    {% endfor %}
    <div class="list-group-item d-flex justify-content-between align-items-start">
      <a class="button" target="_blank" href="https://github.com/oft/oft.github.io/new/main/_posts">新增</a>
    </div>
    
  </div>
  </p>
</main>