---
layout: default
title: 前端资源
---

<main class="container-fluid">
<div class="row">
    <div class="col-auto me-auto">
        <div class="list-group">
            {% for post in site.posts %}
            <a href="{{ site.baseurl }}{{ post.url }}" target="content" class="list-group-item list-group-item-action" aria-current="true">
                {{ post.title }}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div class="site">
            {{ content }}
        </div>
    </div>
</div>
</main>